:root{
    --nav-height: 68px;
    --footer-height:38px;
    --main-height: 100% - var(--nav-height) - var(--footer-height);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #bff1ff;
    width: 100%;
    display: flex;
    justify-content: center;

}
nav p a{
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}
nav p a:hover{
    color: rgb(221, 17, 17);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8c0fa;
    width: 100%;
    height: var(--main-height);
}
main section{
    margin: 0 auto;
    background-color: white;
    height: 100px;
    width: 30%;
}
footer{
    background-color: #bff1ff;
    width: 100%;
    padding: 10px;
}